<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<!-- Viewport link -->
	<meta name=”viewport” content=”width=device-width, initial-scale=1.0”>
	<!-- Materialize -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/css/materialize.min.css">
	<!-- Local CSS -->
	<link rel="stylesheet" href="/assets/css/burger_style.css" type="text/css" />
	<title>Eat a Burger!</title>
	</head>
	<body>
		{{{ body }}}
	</body>
</html>